# === VS Code configuration directory ===
.vscode
.venv

# === Executable used to create the quadtree ===
main

# === Png files ===
*.png 
# Except an image that is used to illustrate the ReadMe
!Figure_1.png

# === Other files ===
*.pdf
**/.DS_Store